# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar*.apk
*.ap_

# Gradle
.gradle/
build/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

# Idea
.idea/
out/
*.iml
*.iws

# Android Studio
local.properties

bin/
Debug/
Release/
.vscode/
.vs/
*.iws
bin/
gen/
obj/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.classpath
.project
.cproject
.settings/

# LaTeX
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
*.eps

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# Visual Studio Code
.vscode/
.history